BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

GMAIL_APP_PASSWORD=
GMAIL_EMAIL=

NEXT_PUBLIC_BASE_URL=

CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=

NEXT_PUBLIC_SITE_URL=

NEXT_PUBLIC_GISCUS_CATEGORY=
NEXT_PUBLIC_GISCUS_CATEGORY_ID=
NEXT_PUBLIC_GISCUS_REPO=
NEXT_PUBLIC_GISCUS_REPO_ID=

NODE_ENV="development"

SQLITE_DB_PATH="./local.db"

TURSO_AUTH_TOKEN=
TURSO_DATABASE_URL=

GITHUB_TOKEN=
