@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans);
}

:root {
  --white: oklch(1 0 0);
  --dark-gray: oklch(0.22 0 0);

  --background: var(--white);
  --foreground: var(--dark-gray);
  --card: var(--white);
  --card-foreground: var(--dark-gray);
  --popover: var(--white);
  --popover-foreground: var(--dark-gray);
  --primary: var(--dark-gray);
  --primary-foreground: var(--white);
  --secondary: var(--white);
  --secondary-foreground: var(--dark-gray);
  --muted: var(--white);
  --muted-foreground: var(--dark-gray);
  --accent: var(--white);
  --accent-foreground: var(--dark-gray);
  --destructive: var(--dark-gray);
  --destructive-foreground: var(--white);
  --border: var(--dark-gray);
  --input: var(--dark-gray);
  --ring: var(--dark-gray);
  --chart-1: var(--dark-gray);
  --chart-2: var(--white);
  --chart-3: var(--dark-gray);
  --chart-4: var(--white);
  --chart-5: var(--dark-gray);
  --radius: 0.625rem;
  --sidebar: var(--white);
  --sidebar-foreground: var(--dark-gray);
  --sidebar-primary: var(--dark-gray);
  --sidebar-primary-foreground: var(--white);
  --sidebar-accent: var(--white);
  --sidebar-accent-foreground: var(--dark-gray);
  --sidebar-border: var(--dark-gray);
  --sidebar-ring: var(--dark-gray);
}

.dark {
  --background: var(--dark-gray);
  --foreground: var(--white);
  --card: var(--dark-gray);
  --card-foreground: var(--white);
  --popover: var(--dark-gray);
  --popover-foreground: var(--white);
  --primary: var(--white);
  --primary-foreground: var(--dark-gray);
  --secondary: var(--dark-gray);
  --secondary-foreground: var(--white);
  --muted: var(--dark-gray);
  --muted-foreground: var(--white);
  --accent: var(--dark-gray);
  --accent-foreground: var(--white);
  --destructive: var(--white);
  --destructive-foreground: var(--dark-gray);
  --border: var(--white);
  --input: var(--white);
  --ring: var(--white);
  --chart-1: var(--white);
  --chart-2: var(--dark-gray);
  --chart-3: var(--white);
  --chart-4: var(--dark-gray);
  --chart-5: var(--white);
  --sidebar: var(--dark-gray);
  --sidebar-foreground: var(--white);
  --sidebar-primary: var(--white);
  --sidebar-primary-foreground: var(--dark-gray);
  --sidebar-accent: var(--dark-gray);
  --sidebar-accent-foreground: var(--white);
  --sidebar-border: var(--white);
  --sidebar-ring: var(--white);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
